#items-list {
    width: 100%;
    display: flex;
}

#items-list .item {
    display: flex;
    flex-direction: column;
}

#items-list .item .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 130px;
    background-color: grey;
}

#items-list .item .thumbnail .name {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.5);
    padding: 3px 8px;
}

#items-list .item .button-set {
    display: flex;
    justify-content: space-between;
}

#items-list .item .button-set button {
    flex-grow: 1;
    height: 30px;
    background-color: #066ee3;
    color: #fff;
    border: 1px solid #095bb7;
    cursor: pointer;
    /*max-width: 23%;*/
}

#items-list .item .button-set button:hover {
    background-color: #3587e2;
}